/java/calculadora/nbproject/private/
/java/calculadora/build/
/java/calculadora/dist/
/java/lista1/nbproject/private/
/java/lista1/build/
/java/bd/nbproject/private/
/java/bd/build/
/java/bd/dist/
/java/lista1/dist/